<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ABCDE</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <i class="bi bi-people-fill" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehicles">
                <i class="bi bi-book-half" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> Vehicles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gpsmap">
                <i class="bi bi-geo-alt-fill" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> GPS Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <i class="bi bi-people-fill" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> Reports
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="personlist">
                <i class="bi bi-people-fill" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> Reports
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentation">
                <i class="bi bi-book-half" aria-hidden="true" style="width: 30px; font-size: 1.25rem; text-align: center; margin-right: 10px;"></i> Week 1 Docs
            </NavLink>
        </div>
    </nav>
</div>

